<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce Regression suite" >

<parameter name="browser" value="chrome"></parameter>

  <test name="Test">
    <classes>
       
      <class name="tests.DDT.UserRegistrationTestWithDDTAND_DataProvider"> </class>
      
    </classes>
  </test> 
</suite>  
